@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a title="manage" asp-area="Edit" asp-page="/ClassroomEdit/Index" class="display-4">ClassroomEdit</a>
</div>
<div class="text-center">
    <a title="manage" asp-area="Edit" asp-page="/GroupEdit/Index" class="display-4">GroupEdit</a>
</div>
<div class="text-center">
    <a title="manage" asp-area="Edit" asp-page="/LessonEdit/Index" class="display-4">LessonEdit</a>
</div>
<div class="text-center">
    <a title="manage" asp-area="Edit" asp-page="/SubjectEdit/Index" class="display-4">SubjectEdit</a>
</div>
<div class="text-center">
    <a title="manage" asp-area="Edit" asp-page="/TeacherEdit/Index" class="display-4">TeacherEdit</a>
</div>
